.img{
    background-image: url("https://media.istockphoto.com/id/612466016/video/view-of-basketball-stadium.jpg?s=640x640&k=20&c=NvpDTSQusc35aZDOrL-8DYKK2XK14bacR66a-KBBQ2U=");
    background-repeat: no-repeat;
    background-size: cover;    
}